<ion-header>
    <ion-navbar>
            <div class="title-div">
                محصولات
            </div>
            <div class="search-div">
               <ion-icon name="search" (click)="goToSearchPage()"></ion-icon>
            </div>
    </ion-navbar>
</ion-header>

<ion-content class="products-page">
    <ion-segment [(ngModel)]="currentType" color="dark" class="product-segment">
        <ion-segment-button *ngFor="let type of types" value="{{type.href}}" (click)="elementType(type)">
            {{type.name}}
        </ion-segment-button>
    </ion-segment>
    <div>
        <div *ngFor="let entry of typeElements">
            <ion-card (click)="generateSubMenu(entry)">
                <img src="{{loadImage(entry.imageUrl)}}" alt="" class="card-image">
                <div class="card-title">{{entry.text}}</div>
            </ion-card>
            <div *ngIf="entry && entry.showSubMenu">
                <ion-list *ngFor="let sub of subList" no-padding no-lines>
                    <button ion-item class="active" (click)="goToCollection(sub.href)">
                        {{sub.text}}
                    </button>
                </ion-list>
            </div>
        </div>
    </div>
</ion-content>

