<ion-content style="direction: rtl" padding>
  <div *ngIf="curStatus === RegStatus.VerificationCode" class="center">
    <div>
      <h3>تأیید ثبت نام</h3>
    </div>
    <div style="margin-top: 20px;">
      <div>
        <ion-label>لطفا کد ارسال شده به شماره همراه وارد شده را</ion-label>
      </div>
      <div>
        <ion-label>در بخش زیر وارد کنید</ion-label>
      </div>
    </div>
    <ion-grid>
      <ion-row class="box-center">
        <ion-input type="number" [(ngModel)]="code" placeholder="کد"></ion-input>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="div-btn btn-field inform-btn clickable-link" (click)="resendCode()">
            <ion-label class="clickable-link" style="margin-right: 11px;">ارسال مجدد کد</ion-label>
          </div>
        </ion-col>
        <ion-col>
          <div class="div-btn btn-field inform-btn clickable-link" (click)="changeMobileNumber()">
            <ion-label class="clickable-link">تغییر شماره تلفن همراه</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="div-btn btn-field inform-btn clickable-link" (click)="checkCode()">
            <ion-label class="clickable-link">ارسال کد</ion-label>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="curStatus === RegStatus.SetMobileNumber" class="center">
    <div>
      <h3>شماره تلفن همراه خود را وارد کنید</h3>
    </div>
    <ion-grid>
      <ion-row class="box-center">
        <ion-input type="number" [(ngModel)]="mobile_no" placeholder="شماره تلفن همراه"></ion-input>
      </ion-row>
      <ion-row>
        <ion-col>
          <!-- sendMobileNumber -->
          <div class="div-btn btn-field inform-btn clickable-link" (click)="sendMobileNumber()">
            <ion-label class="clickable-link">درخواست کد</ion-label>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="curStatus === RegStatus.ActivationLinkPage" class="center">
    <div>
      <h3>فعال سازی ایمیل</h3>
    </div>
    <ion-grid>
      <ion-row style="margin-top: 16px;">
        <ion-col style="text-align: center;">
          <div>ایمیلی حاوی لینک فعال سازی برایتان ارسال شده است.</div>
          <div>از طریق لینک ارسال شده اقدام به ورود نمایید.</div>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: 5%;">
        <ion-col>
          <div class="div-btn btn-field inform-btn clickable-link" (click)="resendEmailActivationLink()">
            <ion-label class="clickable-link">ارسال مجدد لینک فعالسازی</ion-label>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="curStatus === RegStatus.EmailInvalidOrExpiredActivationLink" class="center">
    <div>
      <h3>فعال سازی ایمیل</h3>
    </div>
    <ion-grid>
      <ion-row style="margin-top: 16px;">
        <ion-col style="text-align: center;">
          <div>لینک فعال سازی اشتباه یا منقضی است.</div>
          <div>لطفا مجدداً اقدام نمایید.</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="curStatus === RegStatus.EmailActivatedSuccessfully" class="center">
    <div>
      <h3>فعال سازی ایمیل</h3>
    </div>
    <ion-grid>
      <ion-row style="margin-top: 16px;">
        <ion-col style="text-align: center;">
          <div>ایمیل شما با موفقیت فعال گردید.</div>
          <div>لطفاً از طریق دکمه زیر، اقدام به ورود نمایید.</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-item style="position: absolute; bottom: 1%; left: 0;">
    <button ion-button full color="dark" large (click)="goToLoginPage()">رفتن به صفحه ورود</button>
  </ion-item>
</ion-content>
