<ion-header class="select-count-page-header">
  <ion-navbar>
    <!--<ion-title>-->
    <!--انتخاب تعداد-->
    <!--</ion-title>-->
    <!--<ion-toolbar position="top">-->

    <!--</ion-toolbar>-->
  </ion-navbar>
</ion-header>

<ion-content class="select-count-page">
  <!--<ion-scroll scrollY="true" style="height: calc(100vh - 68px);">-->
  <!--<button class="done-button" color="primary" clear ion-button>-->
  <!--<ion-icon name="ios-arrow-forward"></ion-icon>-->
  <!--انتخاب-->
  <!--</button>-->
  <!--<ion-list inset class="quantity-list">-->
  <!--<button ion-item text-center *ngFor="let c of count">{{c.value}}</button>-->
  <!--</ion-list>-->

  <ion-grid fixed>
    <button ion-button color="dark" full (click)="applyChangedQuantity()" [disabled]="selectedQuantity === quantity">
      انتخاب
    </button>
  </ion-grid>

  <ion-list radio-group [(ngModel)]="selectedQuantity">
    <ion-item *ngFor="let idx of countArray" [ngClass]="{'highlight-q': selectedQuantity === idx}">
      <ion-label class="quantity-label">
        {{idx}}
      </ion-label>
      <!--<ion-radio [value]="idx" *ngIf="quantity === idx" color="persianmodeGray" checked></ion-radio>-->
      <!--<ion-radio [value]="idx" *ngIf="quantity !== idx" color="persianmodeGray"></ion-radio>-->
      <ion-radio [value]="idx" color="persianmodeGray"></ion-radio>
    </ion-item>
  </ion-list>
  <!--</ion-scroll>-->
</ion-content>

<!--<ion-footer style="position: absolute; float: right">-->
<!--<ion-toolbar>-->

<!--</ion-toolbar>-->
<!--</ion-footer>-->
