.product-detail-page {

  ion-card {
    position: relative;
    text-align: center;
    margin: 2px 0 2px 0;
    width: 100%;
    max-width: 100%;
  }

  .product-more-detail {
    clear: both;
    white-space: pre-wrap;
    text-align: center;
    font-family: iranyekan;
    font-weight: normal;
    font-size: 1em;
  }

}
