.forgot-link {
  margin-top: 13px;
  font-size: 0.7em;
  color: black;
}

.policy-link {
  font-size: 0.8em;
}

.policy-link a {
  color: black;
  text-decoration: underline;
}

.google-btn-login {
  width: 100%;
  color: white;
}

.join-link {
  margin-top: 15px;
  font-size: 0.8em;
}
