ion-header {
  direction: rtl;
  font-family: 'iranyekan';
}

@mixin makeIcon($arg, $val) {
  .ion-ios-#{$arg}:before ,
  .ion-ios-#{$arg}-circle:before ,
  .ion-ios-#{$arg}-circle-outline:before ,
  .ion-ios-#{$arg}-outline:before ,
  .ion-md-#{$arg}:before ,
  .ion-md-#{$arg}-circle:before ,
  .ion-md-#{$arg}-circle-outline:before ,
  .ion-md-#{$arg}-outline:before  {
    content: $val;
    height: 32px;
    width: 32px;
  }
}
@include makeIcon(my-home, url(../../assets/imgs/my-home.png))
@include makeIcon(my-shoe, url(../../assets/imgs/my-shoe.png))
@include makeIcon(my-bag, url(../../assets/imgs/my-shop.png))
@include makeIcon(my-inbox, url(../../assets/imgs/my-inbox.png))
@include makeIcon(my-profile, url(../../assets/imgs/my-profile.png))

@include makeIcon(my-events, url(../../assets/imgs/events.png))
@include makeIcon(my-orders, url(../../assets/imgs/orders.png))
@include makeIcon(my-pass, url(../../assets/imgs/pass.png))
@include makeIcon(my-settings, url(../../assets/imgs/settings.png))

.tabs-md .tab-button[aria-selected=true] {
  background: #c2c2c2;
}

.tabs-ios .tab-button[aria-selected=true] {
  background: #c2c2c2;
}

.tab-badge {
  left: 4%;
  top: 6%;
  left: calc(50% - 50px);
  padding: 1px 6px;
  position: absolute;
  height: auto;
  font-size: 12px;
  line-height: 16px;
  border-radius: 50%;
}

.badge-md-secondary {
  color: #fff;
  background-color: #32db64;
}

.has-icon .tab-badge {
  left: calc(50% - -5px);
  top: calc(30% - 7px);
}

