<ion-header>
  <ion-navbar>
    <ion-title>کیف</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bag-page">
  <!--<ion-list>-->
    <!--<ion-item-sliding *ngFor="let product of products">-->
      <!--<ion-item>-->
        <!--<ion-thumbnail item-start>-->
          <!--<img src="{{product.thumbnail}}" >-->
        <!--</ion-thumbnail>-->
        <!--<h1>{{product.name}}</h1>-->
        <!--<h5>{{product.cost}}</h5>-->
      <!--</ion-item>-->
      <!--<ion-item-options side="right">-->
        <!--<button ion-button color="danger" (click)="removeThisProduct(product)">حذف<ion-icon  name="trash"></ion-icon></button>-->
      <!--</ion-item-options>-->
    <!--</ion-item-sliding>-->
  <!--</ion-list>-->
  <ion-list inset>
    <ion-item style="border-bottom: 1px solid #878787;">
      {{formatPrice(products.length)}} عدد
    </ion-item>
  </ion-list>
  <ion-list inset style="margin: 0 !important;" *ngIf="products && products.length > 0">
    <page-product-sliding *ngFor="let product of products" [product]="product" (getList)="updateOrderlines($event)"></page-product-sliding>
  </ion-list>
  <!--<div class="list card">-->

  <ion-grid>
    <ion-row>
      <ion-col>
        <span>اگر کد تخفیف دارید، اینجا وارد کنید (اختیاری)</span>
        <ion-icon (click)="onClickedOnPromoCode()" name="{{isPromoCodeShown? 'arrow-dropdown': 'arrow-dropup'}}"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isPromoCodeShown">
      <ion-col col-9>
        <ion-input dir="rtl" placeholder="کد تخفیف" [(ngModel)]="coupon_code"></ion-input>
      </ion-col>
      <ion-col col-3>
        <button large ion-button float-left color="dark" (click)="applyCoupon()">اعمال</button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item>
    <ion-row>
      <ion-col text-right>
        جمع
      </ion-col>
      <ion-col text-left>
        {{formatPrice(getSubtotalCost())}} تومان
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-right>
        هزینه ارسال
      </ion-col>
      <ion-col text-left>
        {{formatPrice(shippingCost)}} تومان
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-right>
        مالیات
      </ion-col>
      <ion-col text-left>
        {{formatPrice(estimatedTax)}} تومان
      </ion-col>
    </ion-row>
  </ion-item>
  <ion-item>
    <ion-row>
      <ion-col text-right>
        جمع کل
      </ion-col>
      <ion-col text-left>
        {{formatPrice(getTotalCost())}}
      </ion-col>
    </ion-row>
  </ion-item>
  <ion-item>
    <button ion-button full color="dark" large>پرداخت</button>
  </ion-item>
  <!--</div>-->
</ion-content>
