<ion-header>
  <ion-navbar>
    <ion-title>سبد خرید</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bag-page">
  <ion-list inset>
    <ion-item style="border-bottom: 1px solid #878787;">
      {{formatPrice(cartItemsLength)}} عدد
    </ion-item>
  </ion-list>
  <ion-list inset style="margin: 0 !important;" *ngIf="products && products.length > 0">
    <page-product-sliding *ngFor="let product of products" [product]="product"
                          (getList)="updateOrderlines($event)"></page-product-sliding>
  </ion-list>

  <ion-grid *ngIf="cartItemsLength > 0">
    <ion-row>
      <ion-col>
        <span (click)="onClickedOnPromoCode()"> اگر کد تخفیف دارید، اینجا وارد کنید (اختیاری)</span>
        <ion-icon (click)="onClickedOnPromoCode()" name="{{isPromoCodeShown? 'arrow-dropdown': 'arrow-dropup'}}"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isPromoCodeShown">
      <ion-col col-9>
        <ion-input dir="rtl" placeholder="کد تخفیف" [(ngModel)]="coupon_code"></ion-input>
      </ion-col>
      <ion-col col-3>
        <button large ion-button float-left color="dark" (click)="applyCoupon()">اعمال</button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item>
    <!--<ion-row>-->
      <!--<ion-col text-right>امتیاز</ion-col>-->
      <!--<ion-col text-left>-->
        <!--{{formatPrice(loyalty_point)}}-->
      <!--</ion-col>-->
    <!--</ion-row>-->
    <ion-row>
      <ion-col text-right>موجودی</ion-col>
      <ion-col text-left>
        {{formatPrice(balance)}} تومان
      </ion-col>
    </ion-row>
  </ion-item>
  <ion-item>
    <ion-row>
      <ion-col text-right>جمع قیمت</ion-col>
      <ion-col text-left>
        {{formatPrice(totalCost)}} تومان
      </ion-col>
    </ion-row>
  </ion-item>
  <ion-item>
    <ion-row>
      <ion-col text-right>تخفیف</ion-col>
      <ion-col text-left>
        {{formatPrice(discount)}} تومان
      </ion-col>
    </ion-row>
  </ion-item>
  <ion-item>
    <ion-row>
      <ion-col text-right>قیمت نهایی</ion-col>
      <ion-col text-left>
        {{formatPrice(finalTotal)}} تومان
      </ion-col>
    </ion-row>
  </ion-item>
  <ion-item>
    <button ion-button full color="dark" large (click)="goToCheckoutPage()" [disabled]="!cartItemsLength">پرداخت</button>
  </ion-item>
</ion-content>
