<ion-header>
  <ion-navbar>
    <ion-title>تغییر رمز عبور</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="direction: rtl">
  <div *ngIf="isFirstStage">
    <div class="center">
      <ion-label>شماره تلفن همراه خود را در کادر زیر وارد نمایید</ion-label>
      <ion-label>تا کد تغییر رمز برایتان ارسال شود</ion-label>
    </div>
    <div>
      <ion-input placeholder="شماره تلفن همراه" [(ngModel)]="mobile_no"></ion-input>
    </div>
    <div>
      <button ion-button full color="dark" (click)="applyCode()">
        دریافت کد
      </button>
    </div>
  </div>
  <div *ngIf="!isFirstStage">
    <div>
      <ion-label>کد دریافتی و رمز عبور جدید خود را وارد نمایید</ion-label>
    </div>
    <form (ngSubmit)="changePassword()" [formGroup]="chPassForm">
      <ion-grid>
        <ion-row class="input-container">
          <ion-input class="input-field left-direction" type="text" placeholder="کد ارسال شده" formControlName="code" (ionFocus)="setSeen('code')"
            (ionBlur)="curFocus = null" [ngClass]="chPassForm.controls['code'].hasError('required') && seen['code'] && curFocus !== 'code' ? 'input-error' : null">
          </ion-input>
        </ion-row>
        <ion-row class="input-container" *ngIf="chPassForm.controls['code'].hasError('required') && seen['code'] && curFocus !== 'code'">
          <ion-label class="field-error">لطفاً کد ارسال شده به تلفن همراه خود را وارد کنید</ion-label>
        </ion-row>
        <ion-row class="input-container">
          <ion-input class="input-field left-direction" type="password" placeholder="رمز عبور جدید" formControlName="password" (ionFocus)="setSeen('password')"
            (ionBlur)="curFocus = null" [ngClass]="(chPassForm.controls['password'].hasError('required') || chPassForm.controls['password'].hasError('minlength')) && seen['password'] && curFocus !== 'password' ? 'input-error' : null">
          </ion-input>
        </ion-row>
        <ion-row class="input-container" *ngIf="(chPassForm.controls['password'].hasError('required') || chPassForm.controls['password'].hasError('minlength')) && seen['password'] && curFocus !== 'password'">
          <ion-label class="field-error">رمز عبور باید حداقل دارای 8 کاراکتر باشد</ion-label>
        </ion-row>
        <ion-row class="input-container">
          <ion-input class="input-field left-direction" type="password" placeholder="تکرار رمز عبور" formControlName="re_password" (ionFcus)="setSeen('re_password')"
            (ionBlur)="curFocus = null" [ngClass]="(chPassForm.controls['re_password'].hasError('required') || chPassForm.controls['re_password'].hasError('matchPassword')) && seen['re_password'] && curFocus !== 're_password' ? 'input-error' : null">
          </ion-input>
        </ion-row>
        <ion-row class="input-container" *ngIf="(chPassForm.controls['re_password'].hasError('required') || chPassForm.controls['re_password'].hasError('matchPassword')) && seen['re_password'] && curFocus !== 're_password'">
          <ion-label class="field-error">تکرار رمز عبور با رمز عبور وارد شده مطابقت ندارد</ion-label>
        </ion-row>
        <ion-row>
          <button ion-button full color="primary" type="submit">
            به روزرسانی رمز عبور
          </button>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
