checkout-address {
  .checkmark {
    text-align: left;
  }

  .address-semi-details {
    font-size: 0.8em;
  }

  .list {
    margin: unset !important;
  }

  .details-button, .details-button:active {
    background-color: transparent;
    color: black;
  }
}
