<div dir="rtl">
  <ion-list>
    <ion-item>
      <ion-label *ngIf="isClickAndCollect">تحویل در فروشگاه</ion-label>
      <ion-label *ngIf="!isClickAndCollect">ارسال به آدرس</ion-label>
      <ion-toggle [(ngModel)]="isClickAndCollect"></ion-toggle>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="!isClickAndCollect">
    <ion-item *ngFor="let c_adr of customerAddressList" (click)="setAddress(c_adr)" [ngClass]="{'selected-address': compareAddress(c_adr) && !isClickAndCollect}">
      <ion-label class="address-semi-details">
        <span>
          <ion-icon name="add" (click)="addressDetailForm(c_adr, false)"></ion-icon>
        </span>
        <span>{{c_adr.province}} - {{c_adr.city}} - {{c_adr.street}}</span>
        <span> ({{c_adr.recipient_name}} {{c_adr.recipient_surname}})</span>
      </ion-label>
    </ion-item>
    <button ion-button full color="dark" (click)="addressDetailForm(null, false)">افزودن آدرس جدید</button>
  </ion-list>

  <ion-list *ngIf="isClickAndCollect">
    <ion-item *ngFor="let i_adr of inventoryAddressList" (click)="setAddress(i_adr)" [ngClass]="{'selected-address': compareAddress(i_adr) && isClickAndCollect}">
      <ion-label item-start class="address-semi-details">
        <span>
          <ion-icon name="add" (click)="addressDetailForm(i_adr, true)"></ion-icon>
        </span>
        <span>{{i_adr.name}}</span>
      </ion-label>
    </ion-item>
  </ion-list>
</div>
