<ion-header>
  <ion-navbar>
    <ion-title>{{collectionDetails.nameFa}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding dir="rtl">
  <ion-segment [ngModel]="curType" color="dark" (ionChange)="typeChanged($event)" class="collection-segment">
    <ion-segment-button *ngFor="let type of types" value="{{type.name_en}}">
      {{type.name_fa}}
    </ion-segment-button>
  </ion-segment>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let product of products" col-6>
        <product-item [product]="product"></product-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll (ionInfinite)="loadOtherProducts($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
