<ion-header>
  <ion-navbar>
    <ion-title>فیلترها</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding dir="rtl">
  <ion-list>
    <ion-list-header class="filter-option-title">مرتب سازی بر اساس</ion-list-header>
    <ion-item *ngFor="let so of sortOptions;let i=index" (click)="selectSortOption(i)"
              [ngClass]="sortedBy?.value === so.value ? 'selected-sort' : null">
      <ion-label class="sort-item">{{so.fa}}</ion-label>
    </ion-item>
  </ion-list>
  <div *ngFor="let fo of filter_options;let i=index">
    <div *ngIf="fo.name !== 'color'  && fo.name !== 'price'">
      <ion-list>
        <ion-list-header class="filter-option-title">{{fo.name}}</ion-list-header>
        <ion-item class="filter-item" *ngFor="let value of fo.values;let j=index">
          <ion-label>{{filter_options[i].values_fa[j]}}</ion-label>
          <ion-checkbox color="dark" (ionChange)="getValue(fo.name, value)"
                        [ngModel]="isChecked[fo.name][value]"></ion-checkbox>
        </ion-item>
      </ion-list>
    </div>
  </div>

  <div *ngFor="let fo of filter_options;let j = index">
    <div *ngIf="fo.name === 'price'">
      <ion-list>
        <ion-list-header class="filter-option-title">{{fo.name}}</ion-list-header>
        <ion-item class="filter-item" style="direction: ltr">

          <ion-range [min]="minPrice" [max]="maxPrice" [(ngModel)]="rangeValues" (ionBlur)="priceRangeChange()"
                     color="secondary" dualKnobs="true" pin="true"
                     step="5000" debounce="500">
            <ion-label range-left style="margin-right: 20px">{{selectedMinPriceFormatted}}</ion-label>
            <ion-label range-right style="margin-left: 20px">{{selectedMaxPriceFormatted}}</ion-label>
          </ion-range>
        </ion-item>
      </ion-list>
    </div>

    <div *ngIf="fo.name === 'color'">
      <ion-list>
        <ion-list-header class="filter-option-title">{{fo.name}}</ion-list-header>
        <ion-item class="filter-item">

      <span *ngFor="let v of fo.values; let j = index" class="color-span" (click)="getValue(fo.name, v)"
            style="cursor: pointer;">
        <svg height="26" width="26">
         <circle cx="13" cy="13" r="12" [attr.stroke]="needsBorder[v] ? '#ccc' : 'transparent'" stroke-width="1"
                 attr.fill="{{fo.values_fa[j]}}"></circle>
        </svg>
        <i *ngIf="isChecked[fo.name][v]" class="fa fa-check circle" [style.color]="oppositeColor[v]"></i>
      </span>
        </ion-item>
      </ion-list>
    </div>


  </div>

</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <div style="width: ;">
        <svg height="6px" width="100%">
          <line x1="0" y1="0" x2="100%" y2="0" style="stroke: rgba(197,203,201,0.68);stroke-width:2"/>
        </svg>
      </div>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button color="dark" block clear (click)="clearFilters()">
          <h6>برداشتن فیلتر ها</h6>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
