<ion-header>
  <ion-navbar>
    <ion-title>خوراک</ion-title>
  </ion-navbar>
</ion-header>

<!--<ion-content padding>-->
  <!--<ion-card *ngFor="let feed of feeds">-->
    <!--<img src="{{feed.url}}"/>-->
    <!--<ion-card-content>-->
      <!--<ion-card-title>-->
        <!--Nine Inch Nails Live-->
      <!--</ion-card-title>-->
      <!--<p>-->
        <!--The most popular industrial group ever, and largely-->
        <!--responsible for bringing the music to a mass audience.-->
      <!--</p>-->
    <!--</ion-card-content>-->
  <!--</ion-card>-->
<!--</ion-content>-->

<ion-content class="card-background-page">

  <ion-card *ngFor="let feed of feeds">
    <img src="{{feed.url}}"/>
    <div class="card-title" [ngStyle]="setTitleStyles(feed)">{{feed.title}}</div>
    <div class="card-subtitle" [ngStyle]="setSubtitleStyles(feed)">{{feed.subtitle}}</div>
    <button ion-button outline color="light" class="card-button">خرید</button>
    <ion-icon name="share-alt" class="card-icon"></ion-icon>
  </ion-card>

</ion-content>
