.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
    margin: 0 0 2px 0;
    width: 100%;
    //max-height: 256px;
    max-width: 100%;
  }

  ion-card div:active {
    opacity: 0.8;
  }
  .card-button {
    font-family: 'iranyekan';
    position: absolute;
    bottom: 4%;
    right: 3%;
  }

  .card-icon {
    position: absolute;
    bottom: 6%;
    right: 24%;
    font-size: 2.6em;
  }

  .card-icon:active {
    opacity: 0.4;
  }
}

/* Top left text */
.container {
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
}

/* Bottom left text */
.left-top {
  position: absolute;
  bottom: 80%;
  left: 2%;
  text-align: left;
}
/* Bottom left text */
.left-center {
  position: absolute;
  bottom: 50%;
  left: 2%;
  text-align: left;
}
.left-bottom {
  position: absolute;
  bottom: 4%;
  left: 2%;
  text-align: left;
}

.center-top {
  position: absolute;
  bottom: 85%;
  left: 50%;
}
.center-center {
  position: absolute;
  bottom: 50%;
  left: 50%;
}

/* Bottom right text */
.center-bottom {
  position: absolute;
  bottom: 4%;
  left: 50%;
}

.right-bottom {
  position: absolute;
  bottom: 4%;
  right: 2%;
  text-align: right;
}
.right-center {
  position: absolute;
  bottom: 50%;
  right: 2%;
  text-align: right;
}
.right-top {
  position: absolute;
  bottom: 85%;
  right: 2%;
  text-align: right;
}

.top-title {
  font-family: 'iranyekan';
  height: 35px;
  margin-top: 13px;
  font-weight: bolder;
}

.title {
  font-family: 'iranyekan';
  font-size: 1.2em;
  font-weight: bold;
}

.text{
  font-family: 'iranyekan';
  font-size: 0.7em;
}
