.card-background-page {

  ion-card {
    position: relative;
    text-align: center; //left for left, center for center, right for right
    margin: 0 0 2px 0;
    width: 100%;
  }

  .card-title {
    position: absolute;
    top: 36%; //2% for top, 36% for center, 75% for bottom
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;

    //text-align: left;
    //left: 2%;

    //text-align: center;

    //text-align: right;
    //right: 20%;

  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 90%; //18% for top, 52% for center, %90 for bottom
    width: 100%;
    color: #fff;
  }

  .card-button {
    position: absolute;
    bottom: 4%;
    right: 3%;
  }

  .card-icon {
    position: absolute;
    bottom: 6%;
    right: 21%;
    font-size: 3em;
  }

}
