checkout-summary {
  .title {
    color: #000 !important;
  }

  .final-total {
    font-weight: bold;
  }

  .final-total-area {
    margin-top: 10px;
  }

  .place-order-btn {
    padding: 10px;
  }

}
