<ion-list dir="rtl">
  <ion-item>
    <p item-left class="title">جمع قیمت</p>
    <p item-right>{{priceFormatter(total)}} تومان</p>
  </ion-item>
  <ion-item *ngIf="discount">
    <p item-left class="title">تخفیف</p>
    <p item-right>{{priceFormatter(discount)}}- تومان</p>
  </ion-item>
  <ion-item *ngIf="usedBalance">
    <p item-left class="title">موجودی</p>
    <p item-right>{{priceFormatter(usedBalance)}}- تومان</p>
  </ion-item>
  <ion-item *ngIf="usedLoyaltyPoint">
    <p item-left class="title">امتیاز وفاداری</p>
    <p item-right>{{priceFormatter(usedLoyaltyPoint)}} امتیاز</p>
  </ion-item>
  <ion-item *ngIf="!usedLoyaltyPoint">
    <p item-left class="title">امتیاز بدست آمده از این خرید</p>
    <p item-right>{{priceFormatter(earnedLoyaltyPoint)}} امتیاز </p>
  </ion-item>
  <ion-item *ngIf="showCostLabel">
    <p item-left class="title">هزینه ارسال</p>
    <p item-right>{{priceFormatter(deliveryCost)}} تومان </p>
  </ion-item>
  <ion-item *ngIf="showCostLabel">
    <p item-left class="title">تخفیف ارسال</p>
    <p item-right>{{priceFormatter(deliveryDiscount)}} تومان </p>
  </ion-item>
  <ion-item>
    <hr/>
  </ion-item>
  <ion-item class="final-total-area">
    <p item-left class="title final-total">قیمت قابل پرداخت</p>
    <p item-right>{{priceFormatter(finalTotal)}} تومان</p>
  </ion-item>
</ion-list>