.size-box {
  border: rgba(197,203,201,0.68) solid thin;
  text-align: center;
  padding: 10px;
  margin: 0;
}

.selected-size {
  border-color: black;
}

.size-col {
  padding: unset !important;
}

.size-area {
  margin: 20px;
}

.item-ios.item-block .item-inner {
  border-bottom: 0px !important;
}

.list-header-ios {
  border-bottom: 0px !important;
}

.filter-option-title {
  font-weight: bold;
  font-size: 1.2em;
}

.color-box {
  width: 50%;
  margin: auto;
}

.color-checked {
  text-align: center;
}

.color-circle {
  width: 30px;
  height: 30px;
  border-style: solid;
  border-radius: 50%;
  line-height: 30px;
}
