.product-label {
  font-size: 12px;
  padding-right: 5px;
  color: gray;
  overflow: visible !important;
  white-space: normal !important;
}

.product-name {
  color: #000;
}

.product-image {
  margin: 0;
}
