<div (click)="select()" dir="rtl">
  <div>
    <img src="{{product.colors[0].images[0]}}" class="product-image"/>
  </div>
  <div>
    <ion-label class="product-label product-name">{{product.name}}</ion-label>
  </div>
  <div *ngIf="product.desc">
    <ion-label class="product-label">{{product.desc}}</ion-label>
  </div>
  <div>
    <ion-label class="product-label">رنگ های بیشتر</ion-label>
  </div>
  <div>
    <ion-label class="product-label">{{product.base_price.toLocaleString('fa')}} تومان</ion-label>
  </div>
</div>
