ion-navbar {
  text-align: center;
}

.header-title {
  font-weight: bold;
  padding-bottom: 4px;
  padding-top: 10px;
}

.header-subtitle {
  //padding-top: 10px;
  padding-bottom: 10px;
  //font-weight: lighter;
  font-size: 0.6em;
  color: #878787;
}

.checkout-page {
  text-align: center;
  padding: 10px;
}

ion-item:active {
  background-color: #878787;
  opacity: 0.8;
}

.checkout-item {
  direction: rtl;
  margin-bottom: 10px;
}

.checkout-item-label {
  text-align: right;
  margin-top: -2px;
}

.bottom-border-item {
  border-bottom: solid #8c8c8c thin;
}

.warn-label {
  text-align: left !important;
  color: rgba(203,3,11,0.68);
}
