ion-navbar {
  text-align: center;
}

.header-title {
  font-weight: bold;
  padding-bottom: 4px;
  padding-top: 10px;
}

.header-subtitle {
  //padding-top: 10px;
  padding-bottom: 10px;
  //font-weight: lighter;
  font-size: 0.6em;
  color: #878787;
}

.checkout-page {
  text-align: center;
  padding: 10px;

  ion-item {
    border-bottom: 1px solid gray !important;
    padding: 10px;
  }

  ion-icon {
    font-size: 1.4em;
    font-weight: bold;
  }

  .last-item {
    border: 0 !important;
    padding-top: 5px;
    padding-bottom: 2px;
    margin: 0 !important;
    color: #878787;
    font-size: 0.8em;
    direction: rtl;
    text-align: center;
  }

  ion-item:active {
    background-color: #878787;
    opacity: 0.8;
  }

  .black-text {
    color: black;
    font-weight: bold;
    font-size: 1em;
  }

  .grey-text {
    color: grey;
    font-size: 1em;
  }

  .red-text {
    color: red;
    font-size: 1em;
  }
}

.checkout-item {
  direction: rtl;
  margin-bottom: 10px;
}

.checkout-item-label {
  text-align: right;
  margin-top: -2px;
}

.bottom-border-item {
  border-bottom: solid #8c8c8c thin;
}

.warn-label {
  text-align: left !important;
  color: rgba(203,3,11,0.68);
}
