<ion-header>
  <ion-navbar>
    <ion-title>
      <div class="header-title">{{headerData.title}}</div>
      <div class="header-subtitle">{{headerData.subtitle}}</div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="checkout-page">
  <ion-grid class="checkout-grid">
    <ion-row class="checkout-item checkout-item-title first-item" (click)="toggleItem('payment')">
      <ion-label class="checkout-item-label">نوع پرداخت</ion-label>
      <ion-icon class="checkout-checkmark" *ngIf="itemIsOpen('payment')" ios="ios-arrow-down" md="ios-arrow-down"></ion-icon>
      <ion-icon class="checkout-checkmark" *ngIf="!itemIsOpen('payment')" ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
    </ion-row>
    <ion-row *ngIf="itemIsOpen('payment')">
      <checkout-payment-type [balance]="userBalance" [loyaltyPointValue]="userLoyaltyPointValue"
                             [selectedType]="getSelectedPaymentType()" (typeChanged)="setPayment($event)"
                             style="width: 100%"></checkout-payment-type>
    </ion-row>
    <ion-row class="checkout-item checkout-item-title" (click)="toggleItem('address')">
      <ion-label class="checkout-item-label">آدرس</ion-label>
      <ion-label class="warn-label checkout-item-label" *ngIf="!addressIsSet">افزودن آدرس</ion-label>
      <ion-icon class="checkout-checkmark" *ngIf="itemIsOpen('address')" ios="ios-arrow-down" md="ion-arrow-down"></ion-icon>
      <ion-icon class="checkout-checkmark" *ngIf="!itemIsOpen('address')" ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
    </ion-row>
    <ion-row *ngIf="itemIsOpen('address')">
      <checkout-address (addressChanged)="changeAddress($event)" (addressDetails)="showAddressDetails($event)"
                        style="width: 100%;"></checkout-address>
    </ion-row>
    <ion-row class="checkout-item checkout-item-title">
      <ion-label>فاکتور</ion-label>
    </ion-row>
    <ion-row>
      <checkout-summary [usedLoyaltyPoint]="usedLoyaltyPoint" [usedBalance]="usedBalance" [discount]="discount"
                        [total]="total" style="width: 100%;"></checkout-summary>
    </ion-row>
  </ion-grid>
  <button ion-button full color="dark" (click)="placeOrder()" [disabled]="!addressIsSet">
    ثبت سفارش
  </button>
</ion-content>
