dob {
  div {
    display: inline-block;
  }

  ion-select {
    display: inline-block;
    font-family: iranyekan, sans-serif !important;
    text-align: center;
  }

  ion-option {
    font-family: iranyekan, sans-serif !important;
  }
}
