<ion-header>
  <ion-navbar>
    <div class="product-title-div">
      {{product?.name}}
    </div>
    <ion-buttons end>
      <button class="header-button" ion-button icon-only (click)="shareProduct()">
        <ion-icon name="share"></ion-icon>
      </button>
      <button class="header-button" ion-button icon-only (click)="goToSearchPage()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="product-view-page">
  <ion-card>
    <ion-slides [pager]="true" #topSlider>
      <ion-slide *ngFor="let image of getImages(selectedColor);">
        <img src="{{image}}" style="width: 100%;">
      </ion-slide>
    </ion-slides>
  </ion-card>

  <ion-scroll scrollX="true">
    <img *ngFor="let thumbnail of thumbnails; let i = index" src="{{thumbnail}}" style="width: 144px; height: 144px;" (click)="changeColorTo(i)"
      [ngClass]="{'active-image': i == activeColorIndex}">
  </ion-scroll>

  <div class="color-field">
    <ion-label>
        <span>رنگ: </span>
        <span>{{selectedColor?.name}}</span>
    </ion-label>
  </div>

  <div [innerHtml]="product?.desc">
  </div>
  <!-- <ion-icon name="share-alt" class="card-icon"></ion-icon> -->

  <div class="product-more-detail" *ngIf="product?.details">
    <hr>
    <div (click)="goToDetail()">
      دیدن جزئیات بیشتر محصول
    </div>
    <hr>
  </div>
  <br>
  <br>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button full color="dark" (click)="presentPopOver($event)" [disabled]="!buyButtonShouldBeActive">
      <div *ngIf="buyButtonShouldBeActive">
        <span>خرید</span>
        <span [ngClass]="{'old-price': product?.discount}">{{formatPrice(getPrice())}}</span>
        <span *ngIf="product?.discount" class="product-discount">{{formatPrice(getPriceDiscount())}}</span>        
        <span>تومان</span>
      </div>
      <div *ngIf="!buyButtonShouldBeActive">
        محصول تمام شده است
      </div>
    </button>
  </ion-toolbar>
</ion-footer>