.product-segment {
  padding-left: 10px;
  padding-right: 10px;

  ion-segment-button {
    //padding-left: 5px;
  }
}

.products-page {
  direction: rtl;

  ion-card {
    position: relative;
    text-align: center;
    margin: 0 0 5px 0;
    width: 100%;
    max-height: 200px;
  }

  .card-image {
    //background-size: auto;
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  .brand-image {
    max-width: 33%;
  }

  .card-title {
    position: absolute;
    top: 40%;
    font-size: 2em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }
}
