<ion-header>
  <ion-navbar>
    <ion-title>محصولات</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="products-page">
  <ion-segment [(ngModel)]="currentType" color="dark" class="product-segment">
    <ion-segment-button *ngFor="let type of types" value="{{type.href}}" (click)="elementType(type)">
      {{type.name}}
    </ion-segment-button>
  </ion-segment>

  <div>
    <div *ngFor="let entry of typeElements">
      <ion-card (click)="generateSubMenu(entry)">
        <img src="{{entry.imageUrl}}" alt="" class="card-image">
        <div class="card-title">{{entry.text}}</div>
      </ion-card>
      <div *ngIf="entry && entry.showSubMenu">
        <ion-list *ngFor="let sub of subList" no-padding no-lines>
          <button ion-item class="active" (click)="goToProductList(sub.href)">
            {{sub.text}}
          </button>
        </ion-list>
      </div>
    </div>
  </div>
</ion-content>

