<ion-header>
  <ion-navbar>
    <ion-title>
      {{currentEntry.name}} {{currentType.name_fa}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="collection-page">
  <ion-slides class="collection-news-slider">
    <ion-slide *ngFor="let new of news" class="collection-news-slide">
      <div>
        <span id="news-title">{{new.title}}</span>
        <span id="news-description">{{new.description}}</span>
        <span><a href="{{new.linkUrl}}">{{new.linkText}}</a></span>
      </div>
    </ion-slide>
  </ion-slides>

  <ion-row *ngFor="let product of getSeparatedRowProducts()" class="product-row">
    <ion-col *ngFor="let p of product" class="product-col" width-50>
      <div class="product" (click)="clickedProduct(p._id)">
        <img src="{{p.imageUrl}}" alt=""><br>
        <div id="title">{{p.name}}</div>
        <ion-row *ngFor="let tag of p.tags" id="tags">
          {{tag}}<br>
        </ion-row>
        <div id="cost">{{p.cost}} تومان</div>
      </div>
    </ion-col>
    <ion-col width-50 *ngIf="product.length == 1"></ion-col>
    <br>
  </ion-row>


</ion-content>
